* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1000px;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #262424;
  color: #fff;
}

.slider__btn-line {
  display: flex;
  column-gap: 0.5rem;
}

.slider__btn {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, #fff 60%, transparent 65%);
  cursor: pointer;
}

.slider__btn:hover {
  background: radial-gradient(
    circle closest-side,
    #8790c4 60%,
    transparent 65%
  );
}

.slider__btn:active {
  background: radial-gradient(
    circle closest-side,
    #4e1fbb 60%,
    transparent 65%
  );
  transform: scale(0.95);
}

input[type='radio'] {
  display: none;
}

input[type='radio']:nth-child(1):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(1),
input[type='radio']:nth-child(2):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(2),
input[type='radio']:nth-child(3):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(3),
input[type='radio']:nth-child(4):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(4),
input[type='radio']:nth-child(5):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(5) {
  background: radial-gradient(
    circle closest-side,
    #4e1fbb 30%,
    #fff 32%,
    #fff 60%,
    transparent 65%
  );
}

input[type='radio']:nth-child(1):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(1):hover,
input[type='radio']:nth-child(2):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(2):hover,
input[type='radio']:nth-child(3):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(3):hover,
input[type='radio']:nth-child(4):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(4):hover,
input[type='radio']:nth-child(5):checked
  ~ .slider__content
  .slider__btn-line
  .slider__btn:nth-child(5):hover {
  background: radial-gradient(
    circle closest-side,
    #fff 30%,
    #4e1fbb 32%,
    #4e1fbb 60%,
    transparent 65%
  );
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: var(--max-width);
  height: auto;
  border: 0.5rem solid #fff;
}

.slider__wrap-img {
  display: flex;
  aspect-ratio: 16/9;
  background-color: #fff;
  overflow: hidden;
}

.slider__img {
  flex-basis: 100%;
  flex-shrink: 0;
  object-fit: fill;
  transition: 1s;
  transform: translateX(0%);
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__container-text {
  overflow: hidden;
  flex-grow: 1;
  background-color: #65d882;
}
